<nav mat-tab-nav-bar>
  <img src="assets/isomatic_blue.png" height="25px" style="margin: 10px" alt="IsoMatic Logo">
  <a mat-tab-link
     routerLink="/app/devices" [active]="activeLink == '/app/devices'">
    Geräte
  </a>
  <a mat-tab-link
     routerLink="/app/models" [active]="activeLink == '/app/models'">
    Gerätemodelle
  </a>
  <a mat-tab-link
     routerLink="/app/bookings" [active]="activeLink == '/app/bookings'">
    Buchung
  </a>
  <a mat-tab-link
     routerLink="/app/function-bundles" [active]="activeLink == '/app/function-bundles'">
    Funktionsbündel
  </a>
  <a mat-tab-link
     routerLink="/app/users" [active]="activeLink == '/app/users'">
    Benutzer
  </a>
</nav>

<router-outlet></router-outlet>
