<nav mat-tab-nav-bar>
  <img src="assets/isomatic_blue.png" height="25px" style="margin: 10px" alt="IsoMatic Logo">
  <a mat-tab-link
     routerLink="/devices" [active]="activeLink == '/devices'">
    Geräte
  </a>
  <a mat-tab-link
     routerLink="/models" [active]="activeLink == '/models'">
    Gerätemodelle
  </a>
  <a mat-tab-link
     routerLink="/bookings" [active]="activeLink == '/bookings'">
    Buchung
  </a>
  <a mat-tab-link
     routerLink="/function-bundles" [active]="activeLink == '/function-bundles'">
    Funktionsbündel
  </a>
  <a mat-tab-link
     routerLink="/users" [active]="activeLink == '/users'">
    Benutzer
  </a>
</nav>

<router-outlet></router-outlet>
