registered users:
<li *ngFor="let user of users">
  id: {{user.id}}
  name: {{user.name}}
</li>

<br>get specific user:
<br><label for="userid">Userid: </label>
<input id="userid" [(ngModel)]="this.selectedUserId" placeholder="id">
<button (click)="getUserById(this.selectedUserId)"> load</button>
<li *ngIf="selectedUserId !== 0">
  id: {{this.selectedUser.id}}
  name: {{this.selectedUser.name}}
</li>

<br><br> save user:
<br><input id="username" [(ngModel)]="userToBeSaved.name" placeholder="name">
<button (click)="saveUser(this.userToBeSaved)"> save</button>


<br><br> update user:
<br><input id="id" [(ngModel)]="userToBeUpdated.id" placeholder="id">
<br><input id="username2" [(ngModel)]="userToBeUpdated.name" placeholder="name">
<button (click)="updateUser(this.userToBeUpdated)"> update</button>

<br><br> new Device:
<br><input id="deviceId" [(ngModel)]="deviceDto.id" placeholder="deviceId">
<br><input id="deviceNumber" [(ngModel)]="deviceDto.serialNumber" placeholder="serial number">
<button (click)="registerDevice(deviceDto)"> register device</button>

